.shopPage {
    /* border: 2px solid blue; */
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    /* background-color: rgb(187, 247, 239); */
    background-color: white;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.shopTitle {
    /* border: 2px solid black; */
    margin: 0;
    padding-top: 60px;
    font-size: 40px;
    font-weight: 800;
    color: greenyellow;
    text-align: center;
}

.goodsBox {
    padding: 40px;
    /* border: 2px solid black; */
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
}

.product {
    background-color: greenyellow;
    overflow: hidden;
    height: 400px;
    display: flex;
}

img {
    height: 400px;
    width: 400px;
}

.addProduct {
    border: 2px solid red;
    width: 100%;
}